choiceapi/src/main/mule/choiceapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="65af7ada-c182-49cb-8a63-cef97171c7cd" basePath="/api" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="choiceapiFlow" doc:id="92de2366-0b3a-45ac-8ffe-ccba48f57a8c" >
		<http:listener doc:name="Listener" doc:id="bb2a5b52-8b66-4511-b735-bd5fd8270451" config-ref="HTTP_Listener_config" path="/choice/{operation}/{num1}/{num2}"/>
		<set-payload value="#[payload]" doc:name="Set Payload2" doc:id="a1063fa7-5a66-4657-9192-7b10e5f0836d" />
		<logger level="INFO" doc:name="Logger" doc:id="478a553a-58ca-4540-928f-98fe4e418439" message="#[attributes.uriParams.operation]"/>
		<set-variable value="#[attributes.uriParams.operation]" doc:name="Set Variable" doc:id="404890eb-7972-4199-915e-be9fa6638d07" variableName="operationName"/>
		<choice doc:name="Choice" doc:id="12dc0717-9fef-4200-b738-d4f54381d815" >
			<when expression="#[vars.operationName == 'add']">
				<set-payload value='#["Addition: " ++ attributes.uriParams.num1 ++ "+" ++ attributes.uriParams.num2 ++ "=" ++ attributes.uriParams.num1 + attributes.uriParams.num2]' doc:name="addition" doc:id="595d7d12-42ba-4e1a-8b16-ef10c589ed34" />
				<logger level="INFO" doc:name="Logger" doc:id="353b926f-7935-42de-87dd-7c92c2ff299e" message="#[message.payload]"/>
			</when>
			<when expression="#[vars.operationName == 'sub']">
				<set-payload value='#["Subtraction: " ++ attributes.uriParams.num1 ++ "-" ++ attributes.uriParams.num2 ++ "=" ++ attributes.uriParams.num1 - attributes.uriParams.num2]' doc:name="subtraction" doc:id="57de0c1e-2ddb-42ac-ac3a-d6ddfbe1f3f1" />
				<logger level="INFO" doc:name="Logger" doc:id="91890bc3-5446-4310-a0d7-795b9ba62cbf" message="#[message.payload]"/>
			</when>
		</choice>
	</flow>
</mule>
